.hero > .container{
    display: flex;
    padding-top: 250px;
    padding-left: 136px;
}
.hero > .container >.left{
    /* display: flex; */
    width: 50%;
}
.hero > .container >.left > h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 12px;
    letter-spacing: 0.03em;
    color: #EB5757;
}
.hero > .container >.left > p{
    font-size: 22px;
    width: 533px;
    height: 132px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #3A3A3A;
    padding-bottom: 45px;
}
.hero > .container >.left > .title{
    width: 672px;
    height: 198px;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
    background-clip: text;
    margin: 45px 0;
}
.hero > .container >.left > .buttons > a:first-child{
    display: inline-block;
    margin-right: 50px;
}
.hero > .container > .right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
@media screen and (max-width:900px) {
    .hero > .container {
        display: flex;
        padding: 200px 50px 0 50px;
    }
    .hero > .container > .right > img {
        width: 80%;
    }
    .hero > .container >.left > p {
        width: 100%;
        min-height: 132px;
        height: auto;
    }
    .hero > .container >.left > .title {
        width: 100%;
        min-height: 198px;
        height: auto;
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        margin: 45px 0;
    }
    .hero > .container >.left > .buttons{
        display: flex;
    }
    .button2 {
        width: 175px;
        height: 62px;
    }
    .hero > .container >.left > .buttons > a:first-child {
        margin-right: 20px;
    }

}