.button-one{
    width: 217px;
    height: 62px;
    background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.button-one > span{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins';
    line-height: 14px;
    text-align: center;
    color: #fff;
}

.button-one > img{
    margin-left: 10px;
}