.business{
    background-color:#F8F9FF;
    padding: 0 107px;
}
.business > h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.03em;
    background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
    background-clip: text;
    padding-top: 40px;
}
.business > .images > img{
    margin: 73px 102px 43px 0;
}
.business > .images > .business-image-7{
    margin-right: 0px;
}

@media screen and (max-width:900px) {
    .business {
        padding: 0 50px;
    }
    .business > .images {
        text-align: center;
    }
    .business > .images > img {
        margin: 20px 30px 20px 0;
    }
}
@media screen and (max-width:900px) {
    .business > h2 {
        letter-spacing: 0.03em;
        padding-top: 40px;
        font-size: 21px;
        line-height: 28px;
    }
    .business > .images {
        text-align: center;
        /* padding: 30px; */
    }
    .business > .images > img {
        /* object-fit: contain; */
        margin: 20px 17px 20px 0;
        width: 40px;
    }
}