form{
    padding-top: 83px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #656464;
}

form > .question{
    display: flex;
    margin-bottom: 25px;
}
form.page-five > .question{
    margin-bottom: 35px;
}

form > .question > img{
    margin-right: 14px;
    object-fit: contain;
}
form > .question > p > span{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
form > .options{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 41px;
}
form.page-five > .details{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 52px;
}

form.page-two > .options{
    margin-bottom: 62px;
}
form.page-three > .options{
    display: block;
    margin-bottom: 54px;
}

form.page-four > .options{
    display: block;
}
form > .options > .form-options{
    display: flex;
    align-items: center;
    margin-right: 9px;
    margin-bottom: 12px;
    width: 357px;
    height: 44px;
    background: #FFFFFF;
    border: 0.7px solid #C0C0C0;
    border-radius: 5px;
}
form > .options > .form-options > label{
    width: 100%;
}
form.page-five > .details > .form-details{
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    margin-bottom: 35px;
}
form.page-five > .details > .form-details > label{
    display: block;
    margin-bottom: 8px;
}
form.page-five > .details > .form-details > input{
    width: 303px;
    height: 41px;
    background: #FEFEFE;
    border: 0.8px solid #C0C0C0;
    border-radius: 5px;
    padding: 12px 11px;
}
form.page-five > .details > .form-details > input:focus,
form > textarea:focus{
    outline: none;
    border: solid 1px transparent;
    background-image: linear-gradient(white, white), linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
form.page-five > .details > .form-details > input::placeholder{
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #C0C0C0;
}

form > .options > .form-options > input[type="radio"]{
    margin-right: 23px;
    margin-left: 14px;
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 13px;
  height: 13px;
    /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #2679ED;
  background: #A6C5F1;
  border-radius: 50%;
}

form > .options > .form-options > input[type="radio"]:checked {
  background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%)
}

form > textarea {
    width: 733px;
    height: 170px;
    background: #FFFFFF;
    border: 0.7px solid #C0C0C0;
    border-radius: 5px;
    padding: 12px 11px;
}
form > .button {
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
}
form > .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    margin-bottom: 93px;
}
form.page-two > .buttons {
    margin-top: 25px;
    margin-bottom: 146px;
}
form.page-three > .buttons {
    margin-top: 48px;
    margin-bottom: 146px;
}
form.page-four > .buttons {
    margin-top: 308px;
    margin-bottom: 146px;
}
form.page-five > .buttons {
    margin-top: 45px;
    margin-bottom: 146px;
}

.submit-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit-page > img{
    margin-top: 152px;
}
.submit-page > p{
    width: 400px;
    margin-top: 27px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 165px;
}
.submit-page button{
    background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    color: #C0C0C0;
    width: 210px;
    height : 48px;
    margin-bottom: 151px;
}
small{
    color: red;
}

